<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=yes">
    <title>LogDNA JS Widget Challenge</title>
    <meta name="theme-color" content="#db0a5b">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" type="text/css" href="./public/style.css" />

</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="public/logo.png">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
          <input type="text" class="form-control" id="search-bar" placeholder="Search for host...">
            </div>
          </form>
          <ul class="nav navbar-nav">
                <li class="dropdown" id="select-hosts">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Hosts <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="host-list" aria-labelledby="hostSelection">
                    </ul>
                </li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

        <div class="dummy-content">
            <button type="button" class="btn btn-info btn-lg" id="add-random-host">Add a Random Host</button>
            <button type="button" class="btn btn-warning btn-lg" id="toggle-error-mode">Toggle Error Mode</button>
            <button type="button" class="btn btn-success btn-lg" id="TESTERTESTERTESTER">TESTERTESTERTESTER</button>
            <button type="button" class="btn btn-danger btn-lg" id="delete-hosts">Delete Selected Hosts</button>
            <button type="button" class="btn btn-secondary btn-lg" id="toggle-host-order">Toggle Host Order</button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mockjax/1.6.2/jquery.mockjax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="./public/js/natSort.js"></script>
    <script type="text/javascript" src="./public/js/mock.js"></script>
    <script type="text/javascript" src="./public/js/index.js"></script>
    <script id="li-template">
        <li class="dropdown-item form-check">
            <label class="form-check-label">
                <input class="host-checkbox form-check-input" type="checkbox" value="<%= name %>" id="<%= id %>">
                <%= highlightedName %>
            </label>
        </li>
    </script>
</body>
</html>
